@font-face {
  font-family: 'nexa_bold';
  src: url('nexabold.woff2') format('woff2'),
       url('nexabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'nexa_light';
  src: url('nexalight.woff2') format('woff2'),
       url('nexalight.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  background-image: url("../media/nebula1.jpg");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

body {
  font-family: "nexa_light";
}

/* ===== NAV BAR STYLE ===== */

.topnav {
  overflow: hidden;
    width: 100%;
    height: 50%;
  }
  
 /* .topnav div:hover {
    background-color: rgb(221, 22, 138);
    color: white;
  } */
  
  /* .topnav div.active {
    background-color: rgb(228, 138, 190);
    color: white;
  } */

  .titleWhenHover {
    display: none;
  }


  .logo-image:hover .titleWhenHover {
    display: block;
  } 

.image-div {
  font-family: "nexa_bold";
  width: 10%;
  margin: auto;
  float: left;
}
  .logo-image{
    float: left;
    color: white;
    text-align: center;
    padding: 50px;
    text-decoration: none;
    font-size: 100%;
    width: 46px;
    height: 46px;
    overflow: hidden;
    margin-top: -6px;
  }

.img-fluid {
  max-width: 100%;
  height: auto;
}

.icon {
  margin: auto;
}

.icon:hover{
  transform: scale(2);
  }

  /* ===== MAIN TEXT: SUMMARY FOR NOW ===== */

  .main-text {
    text-align: center;
    color: whitesmoke;
  }