.topnav {
  overflow: hidden;
    background-color: wheat;
    width: 100%;
    height: 50%;
  }

  
 /* .topnav div:hover {
    background-color: rgb(221, 22, 138);
    color: white;
  } */
  
  .topnav div.active {
    background-color: rgb(228, 138, 190);
    color: white;
  } 
.image-div {
  width: 10%;
  margin: auto;
  float: left;
}
  .logo-image{
    float: left;
    color: rgb(221, 83, 164);
    text-align: center;
    padding: 50px;
    text-decoration: none;
    font-size: 100%;
    width: 46px;
    height: 46px;
    overflow: hidden;
    margin-top: -6px;
  }

.img-fluid {
  max-width: 100%;
  height: auto;
}

.icon {
  margin: auto;
}

.icon:hover{
  transform: scale(2);
  }